<div class="modal-content ">
    <div class="modal-header panel-background">
        <button type="button" class="close" ng-click="$close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><span class="label label-default">{{ modalGraphData.heading}}</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="text-center" ng-if="!modalGraphData.data"><i
                class="fa fa-circle-o-notch fa-spin fa-lg"></i>
            Loading...
        </div>
        <div ng-if="modalGraphData.data">
            <nvd3 options="modalGraphData.options"
                  data="modalGraphData.data"
                  class="with-3d-shadow with-transitions "></nvd3>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-danger no-shadow waves-effect"
                ng-click="$close()">OK
        </button>
    </div>
</div>





