<div class="modal-content" style="border:none!important;">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><span class="label label-default">{{selectedCriteria}} : Store-wise DSR</span></h4>
    </div>
    <div class="modal-body" style="padding: 10px!important;">
        <div class="text-center" ng-if="!dsrStoreWiseModalData"><i
                class="fa fa-circle-o-notch fa-spin fa-lg"></i> Loading...
        </div>
        <div class="table-responsive hidden-sm-down" ng-if="dsrStoreWiseModalData">
            <table ng-if="tableToShow === 'table1'" class="table text-center">
                <thead class="table-inverse">
                <tr>
                    <th>
                        <p><strong>Criteria</strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th>
                        <p><strong></strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th>
                        <p><strong></strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th colspan="4">
                        <p><strong>All Store Sales</strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th colspan="2">
                        <p><strong>SSSG Actual</strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th colspan="2">
                        <p><strong>SSCG Actual</strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th colspan="2">
                        <p><strong>Total Sales Growth</strong></p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <p><strong>Period</strong></p>
                    </th>
                    <th></th>
                    <th>
                        <p><strong>Vintage</strong></p>
                    </th>
                    <th></th>
                    <th>
                        <p><strong>Model</strong></p>
                    </th>
                    <th></th>
                    <th><p><strong>ADS</strong></th>
                    <th style="background-color: #eab907;color: black!important;">
                        <p><strong>{{ formatDate(selectedFilter.curDate, 'dd MMM
                            yyyy') }}</strong></p>
                    </th>
                    <th>
                        <p><strong>
                            MTD</strong></p>
                    </th>
                    <th>
                        <p><strong>YTD</strong></p>
                    </th>
                    <th></th>
                    <th>
                        <p><strong>
                            MTD</strong></p>
                    </th>
                    <th>
                        <p><strong>YTD</strong></p>
                    </th>
                    <th></th>
                    <th>
                        <p><strong>
                            MTD</strong></p>
                    </th>
                    <th>
                        <p><strong>YTD</strong></p>
                    </th>
                    <th></th>
                    <th>
                        <p><strong>
                            MTD</strong></p>
                    </th>
                    <th>
                        <p><strong>YTD</strong></p>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in dsrStoreWiseModalData.Sales_Crs.SalesList"
                    ng-class="{'table-warning':$index>0 && $index%2==0,'table-info':$index>0 && $index%2!==0, 'bg-facebook':$index==0}">
                    <td>
                        <p ng-class="item.Period.Value=='# Stores'?'text-center':'text-left'">
                            <strong>{{item.Period.Value}}</strong></p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p style="text-align: left"><strong>{{item.Vintage.Value}}</strong></p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p style="text-align: left"><strong>{{item.Model.Value}}</strong></p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p><strong>{{item.ADS.Value}}</strong></p>
                    </td>
                    <td>
                        <p><strong>{{item.CurrentDate.Value}}</strong></p>
                    </td>
                    <td>
                        <p><strong>{{item.JanMTD.Value}}</strong></p>
                    </td>
                    <td>
                        <p><strong>{{item.YTD.Value}}</strong></p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.SSSG.SSSGList[$index].JanMTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.SSSG.SSSGList[$index].JanMTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.SSSG.SSSGList[$index].JanMTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.SSSG.SSSGList[$index].YTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.SSSG.SSSGList[$index].YTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.SSSG.SSSGList[$index].YTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.SSCG.SSCGList[$index].JanMTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.SSCG.SSCGList[$index].JanMTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.SSCG.SSCGList[$index].JanMTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.SSCG.SSCGList[$index].YTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.SSCG.SSCGList[$index].YTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.SSCG.SSCGList[$index].YTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.Sales_Growth.Sales_GrowthList[$index].JanMTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.Sales_Growth.Sales_GrowthList[$index].JanMTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.Sales_Growth.Sales_GrowthList[$index].JanMTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.Sales_Growth.Sales_GrowthList[$index].YTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.Sales_Growth.Sales_GrowthList[$index].YTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.Sales_Growth.Sales_GrowthList[$index].YTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                </tr>
                </tbody>
            </table>
            <table ng-if="tableToShow === 'table2'" class="table text-center">
                <thead class="table-inverse">
                <tr>
                    <th>
                        <p><strong>Criteria</strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th colspan="3">
                        <p><strong>APC</strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th colspan="2">
                        <p><strong>Bgt vs Act (Running Stores)</strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th colspan="2">
                        <p><strong>{{dsrStoreWiseModalData.Turn.Type}}</strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th colspan="2">
                        <p><strong>Beverage Sale %</strong></p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <p><strong>Period</strong></p>
                    </th>
                    <th></th>
                    <th style="background-color: #eab907;color: black!important;">
                        <p><strong>{{ formatDate(selectedFilter.curDate, 'dd MMM
                            yyyy') }}</strong></p>
                    </th>
                    <th>
                        <p><strong>
                            MTD</strong></p>
                    </th>
                    <th>
                        <p><strong>YTD</strong></p>
                    </th>
                    <th></th>
                    <th>
                        <p><strong>
                            MTD</strong></p>
                    </th>
                    <th>
                        <p><strong>YTD</strong></p>
                    </th>
                    <th></th>
                    <th>
                        <p><strong>Lunch</strong></p>
                    </th>
                    <th>
                        <p><strong>Dinner</strong></p>
                    </th>
                    <th></th>
                    <th>
                        <p><strong>
                            MTD</strong></p>
                    </th>
                    <th>
                        <p><strong>YTD</strong></p>
                    </th>
                </tr>


                </thead>
                <tbody>
                <tr ng-repeat="item in dsrStoreWiseModalData.APC.APCList"
                    ng-class="{'table-warning':$index>0 && $index%2==0,'table-info':$index>0 && $index%2!==0, 'bg-facebook':$index==0}">
                    <td>
                        <p ng-class="item.Period.Value=='# Stores'?'text-center':'text-left'">
                            <strong>{{item.Period.Value}}</strong></p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p><strong>{{item.CurrentDate.Value}}</strong></p>
                    </td>
                    <td>
                        <p><strong>{{item.JanMTD.Value}}</strong></p>
                    </td>
                    <td>
                        <p><strong>{{item.YTD.Value}}</strong></p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.BgtVsAct.BgtVsActList[$index].JanMTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.BgtVsAct.BgtVsActList[$index].JanMTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.BgtVsAct.BgtVsActList[$index].JanMTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.BgtVsAct.BgtVsActList[$index].YTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.BgtVsAct.BgtVsActList[$index].YTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.BgtVsAct.BgtVsActList[$index].YTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.Turn.TurnList[$index].Lunch.Value>0,'text-danger':$index>1 && dsrStoreWiseModalData.Turn.TurnList[$index].Lunch.Value<1}">
                            <strong>{{dsrStoreWiseModalData.Turn.TurnList[$index].Lunch.Value}}</strong>
                        </p>
                    </td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.Turn.TurnList[$index].DInner.Value>0,'text-danger':$index>1 && dsrStoreWiseModalData.Turn.TurnList[$index].DInner.Value<1}">
                            <strong>{{dsrStoreWiseModalData.Turn.TurnList[$index].DInner.Value}}</strong>
                        </p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.Beverage.BeverageList[$index].JanMTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.Beverage.BeverageList[$index].JanMTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.Beverage.BeverageList[$index].JanMTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.Beverage.BeverageList[$index].YTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.Beverage.BeverageList[$index].YTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.Beverage.BeverageList[$index].YTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="table-responsive hidden-md-up" ng-if="dsrStoreWiseModalData">
            <table ng-if="tableToShow === 'tableXs1'"  class="table text-center table-sm" >
                <thead class="table-inverse">
                <tr>
                    <th>
                        <p><strong>Criteria</strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th>
                        <p><strong></strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th colspan="4">
                        <p><strong>All Store Sales</strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th colspan="2">
                        <p><strong>SSSG Actual</strong></p>
                    </th>

                </tr>
                <tr>
                    <th>
                        <p><strong>Period</strong></p>
                    </th>
                    <th></th>
                    <th>
                        <p><strong>Vintage</strong></p>
                    </th>
                    <th></th>
                    <th><p><strong>ADS</strong></th>
                    <th style="background-color: #eab907;color: black!important;">
                        <p><strong>{{ formatDate(selectedFilter.curDate, 'dd MMM
                            yyyy') }}</strong></p>
                    </th>
                    <th>
                        <p><strong>
                            MTD</strong></p>
                    </th>
                    <th>
                        <p><strong>YTD</strong></p>
                    </th>
                    <th></th>
                    <th>
                        <p><strong>
                            MTD</strong></p>
                    </th>
                    <th>
                        <p><strong>YTD</strong></p>
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in dsrStoreWiseModalData.Sales_Crs.SalesList"
                    ng-class="{'table-warning':$index>0 && $index%2==0,'table-info':$index>0 && $index%2!==0, 'bg-facebook':$index==0}">
                    <td>
                        <p ng-class="item.Period.Value=='# Stores'?'text-center':'text-left'">
                            <strong>{{item.Period.Value}}</strong></p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p style="text-align: left"><strong>{{item.Vintage.Value}}</strong></p>
                    </td>
                    <td></td>
                    <td>
                        <p><strong>{{item.ADS.Value}}</strong></p>
                    </td>
                    <td>
                        <p><strong>{{item.CurrentDate.Value}}</strong></p>
                    </td>
                    <td>
                        <p><strong>{{item.JanMTD.Value}}</strong></p>
                    </td>
                    <td>
                        <p><strong>{{item.YTD.Value}}</strong></p>
                    </td>
                    <td></td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.SSSG.SSSGList[$index].JanMTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.SSSG.SSSGList[$index].JanMTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.SSSG.SSSGList[$index].JanMTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.SSSG.SSSGList[$index].YTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.SSSG.SSSGList[$index].YTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.SSSG.SSSGList[$index].YTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>

                </tr>

                </tbody>
            </table>
            <table ng-if="tableToShow === 'tableXs2'"  class="table text-center table-sm" >
                <thead class="table-inverse">
                <tr>
                    <th>
                        <p><strong>Criteria</strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th>
                        <p><strong></strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th colspan="2">
                        <p><strong>SSCG Actual</strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th colspan="2">
                        <p><strong>Total Sales Growth</strong></p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <p><strong>Period</strong></p>
                    </th>
                    <th></th>
                    <th>
                        <p><strong>Model</strong></p>
                    </th>
                    <th></th>
                    <th>
                        <p><strong>
                            MTD</strong></p>
                    </th>
                    <th>
                        <p><strong>YTD</strong></p>
                    </th>
                    <th></th>
                    <th>
                        <p><strong>
                            MTD</strong></p>
                    </th>
                    <th>
                        <p><strong>YTD</strong></p>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in dsrStoreWiseModalData.Sales_Crs.SalesList"
                    ng-class="{'table-warning':$index>0 && $index%2==0,'table-info':$index>0 && $index%2!==0, 'bg-facebook':$index==0}">
                    <td>
                        <p ng-class="item.Period.Value=='# Stores'?'text-center':'text-left'">
                            <strong>{{item.Period.Value}}</strong></p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p style="text-align: left"><strong>{{item.Model.Value}}</strong></p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.SSCG.SSCGList[$index].JanMTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.SSCG.SSCGList[$index].JanMTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.SSCG.SSCGList[$index].JanMTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.SSCG.SSCGList[$index].YTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.SSCG.SSCGList[$index].YTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.SSCG.SSCGList[$index].YTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.Sales_Growth.Sales_GrowthList[$index].JanMTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.Sales_Growth.Sales_GrowthList[$index].JanMTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.Sales_Growth.Sales_GrowthList[$index].JanMTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.Sales_Growth.Sales_GrowthList[$index].YTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.Sales_Growth.Sales_GrowthList[$index].YTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.Sales_Growth.Sales_GrowthList[$index].YTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                </tr>

                </tbody>
            </table>
            <table ng-if="tableToShow === 'tableXs3'"  class="table text-center  table-sm" >
                <thead class="table-inverse">
                <tr>
                    <th>
                        <p><strong>Criteria</strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th colspan="3">
                        <p><strong>APC</strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th colspan="2">
                        <p><strong>Bgt vs Act (Running Stores)</strong></p>
                    </th>

                </tr>
                <tr>
                    <th>
                        <p><strong>Period</strong></p>
                    </th>
                    <th></th>
                    <th style="background-color: #eab907;color: black!important;">
                        <p><strong>{{ formatDate(selectedFilter.curDate, 'dd MMM
                            yyyy') }}</strong></p>
                    </th>
                    <th>
                        <p><strong>
                            MTD</strong></p>
                    </th>
                    <th>
                        <p><strong>YTD</strong></p>
                    </th>
                    <th></th>
                    <th>
                        <p><strong>
                            MTD</strong></p>
                    </th>
                    <th>
                        <p><strong>YTD</strong></p>
                    </th>

                </tr>


                </thead>
                <tbody>
                <tr ng-repeat="item in dsrStoreWiseModalData.APC.APCList"
                    ng-class="{'table-warning':$index>0 && $index%2==0,'table-info':$index>0 && $index%2!==0, 'bg-facebook':$index==0}">
                    <td>
                        <p ng-class="item.Period.Value=='# Stores'?'text-center':'text-left'">
                            <strong>{{item.Period.Value}}</strong></p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p><strong>{{item.CurrentDate.Value}}</strong></p>
                    </td>
                    <td>
                        <p><strong>{{item.JanMTD.Value}}</strong></p>
                    </td>
                    <td>
                        <p><strong>{{item.YTD.Value}}</strong></p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.BgtVsAct.BgtVsActList[$index].JanMTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.BgtVsAct.BgtVsActList[$index].JanMTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.BgtVsAct.BgtVsActList[$index].JanMTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.BgtVsAct.BgtVsActList[$index].YTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.BgtVsAct.BgtVsActList[$index].YTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.BgtVsAct.BgtVsActList[$index].YTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>

                </tr>

                </tbody>
            </table>
            <table ng-if="tableToShow === 'tableXs4'"  class="table text-center table-sm" >
                <thead class="table-inverse">
                <tr>
                    <th>
                        <p><strong>Criteria</strong></p>
                    </th>

                    <th class="nodata"></th>
                    <th colspan="2">
                        <p><strong>{{dsrStoreWiseModalData.Turn.Type}}</strong></p>
                    </th>
                    <th class="nodata"></th>
                    <th colspan="2">
                        <p><strong>Beverage Sale %</strong></p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <p><strong>Period</strong></p>
                    </th>

                    <th></th>
                    <th>
                        <p><strong>Lunch</strong></p>
                    </th>
                    <th>
                        <p><strong>Dinner</strong></p>
                    </th>
                    <th></th>
                    <th>
                        <p><strong>
                            MTD</strong></p>
                    </th>
                    <th>
                        <p><strong>YTD</strong></p>
                    </th>
                </tr>


                </thead>
                <tbody>
                <tr ng-repeat="item in dsrStoreWiseModalData.APC.APCList"
                    ng-class="{'table-warning':$index>0 && $index%2==0,'table-info':$index>0 && $index%2!==0, 'bg-facebook':$index==0}">
                    <td>
                        <p ng-class="item.Period.Value=='# Stores'?'text-center':'text-left'">
                            <strong>{{item.Period.Value}}</strong></p>
                    </td>

                    <td>&nbsp;</td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.Turn.TurnList[$index].Lunch.Value>0,'text-danger':$index>1 && dsrStoreWiseModalData.Turn.TurnList[$index].Lunch.Value<1}">
                            <strong>{{dsrStoreWiseModalData.Turn.TurnList[$index].Lunch.Value}}</strong>
                        </p>
                    </td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.Turn.TurnList[$index].DInner.Value>0,'text-danger':$index>1 && dsrStoreWiseModalData.Turn.TurnList[$index].DInner.Value<1}">
                            <strong>{{dsrStoreWiseModalData.Turn.TurnList[$index].DInner.Value}}</strong>
                        </p>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.Beverage.BeverageList[$index].JanMTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.Beverage.BeverageList[$index].JanMTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.Beverage.BeverageList[$index].JanMTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                    <td>
                        <p ng-class="{'text-success':$index>0 && dsrStoreWiseModalData.Beverage.BeverageList[$index].YTD.Value>0,'text-danger':$index>0 && dsrStoreWiseModalData.Beverage.BeverageList[$index].YTD.Value<0}">
                            <strong>{{dsrStoreWiseModalData.Beverage.BeverageList[$index].YTD.Value}}<span
                                    ng-hide="$index==0">%</span></strong></p>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-danger no-shadow waves-effect"
                ng-click="$close()">OK
        </button>
    </div>
</div>




