<div class="horizontal-fixed fixed">
    <div class="wrapper">
        <div ng-include="'shared/header.html?v=1'"></div>
        <div ng-include="'shared/sidebar.html?v=1'"></div>
        <div ng-include="'shared/headerModal.html?v=6.1'"></div>
        <div class="content-wrapper">
            <div class="container-fluid">
                <br>
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">Change Password &nbsp;
                                </h5>
                                <br>
                                <br>
                                <form name="changePass.form"
                                      novalidate  class="md-float-material" ng-submit="changePassword(changePass.form.$valid)">
                                    <div class="bg-danger well well-sm" ng-if="changePassErrorMsg">{{changePassErrorMsg}}</div>
                                    <div class="bg-success well well-sm" ng-if="changePassSuccessMessage">{{changePassSuccessMessage}}</div>
                                    <div class="md-input-wrapper">
                                        <input type="password" name="oldPassword" class="md-form-control" required="required"
                                               ng-disabled="changePassProcessing"
                                               ng-model="changePass.info.oldPassword"/>
                                        <label>Old Password</label>
                                        <div ng-if="changePass.form.oldPassword.$dirty" ng-messages="changePass.form.oldPassword.$error" role="alert">
                                            <div class="messages">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="md-input-wrapper">
                                        <input type="password" name="newPassword" class="md-form-control" required="required"
                                               ng-disabled="changePassProcessing"
                                               ng-model="changePass.info.newPassword"/>
                                        <label>New Password</label>
                                        <div ng-if="changePass.form.newPassword.$dirty" ng-messages="changePass.form.newPassword.$error" role="alert">
                                            <div class="messages">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="md-input-wrapper">
                                        <input type="password" name="confirmPassword" compare-to="changePass.info.newPassword"
                                               class="md-form-control" required="required"
                                               ng-disabled="changePassProcessing" ng-model="changePass.info.confirmPassword"/>
                                        <label>Confirm Password</label>
                                        <div ng-if="changePass.form.confirmPassword.$dirty" ng-messages="changePass.form.confirmPassword.$error" role="alert">
                                            <div class="messages">
                                                <div ng-message="required">Required</div>
                                                <div ng-message="compareTo">Must match the previous entry</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 20px;">
                                        <div class="col-xs-10 offset-xs-1">
                                            <button type="submit" ng-hide="changePassProcessing" ng-disabled="changePass.form.$pristine || changePass.form.$invalid"
                                                    class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" data-angular-ripple >SUBMIT</button>
                                            <div ng-show="changePassProcessing" class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-lg"></i></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

