<div class="horizontal-fixed fixed">
    <div class="wrapper">
        <div ng-include="'shared/header.html?v=6'"></div>
        <div ng-include="'shared/sidebar.html?v=6'"></div>
        <div ng-include="'shared/headerModal.html?v=6.1'"></div>
        <div class="content-wrapper">
            <!-- Container-fluid starts -->
            <!-- Main content starts -->
            <div class="container-fluid">
                <div class="text-center" style="padding: 40px;">
                    <h2>
                        Page is Under Constriction!
                    </h2>
                </div>

                <!--<h6 class="text-center">
                    <small>*All sales figures are in <em>Million(s) <i
                            class="fa fa-inr"></i></em> unless indicated otherwise
                    </small>
                </h6>


                <div class="row">


                    <div class="col-md-12 xs-no-padding">
                        &lt;!&ndash; Radial variants start &ndash;&gt;

                        <div class="card">
                            <div class="card-header">

                                <h5 class="card-header-text">GSI Reports &nbsp;
                                </h5>
                                <label class="label bg-facebook label-md">
                                    {{ selectedMonth }} - {{ selectedYear }}</label>
                                <div class="f-right">
                                    <span class="hidden-md-down">
                                    <label class="label label-inverse-success" ng-if="!selectedFilter.Region">All
                                        Region</label>
                                    <span ng-if="selectedFilter.Region">
                                        <label class="label label-inverse-success">{{filteredText("Region")}}</label>
                                        <label class="label label-inverse-success" ng-if="selectedFilter.Cluster">{{filteredText("Cluster")}}</label>
                                        <label class="label label-inverse-success" ng-if="selectedFilter.City">{{filteredText("City")}}</label>
                                    </span>
                                    <label class="label label-inverse-success">{{filteredText('Outlet')}}</label>
                                    </span>

                                    <a href="javascript:;" class="filter-button"><i class="icofont icofont-filter"></i>
                                        <span class="hidden-md-down">Filters</span></a>

                                </div>

                                <div class="hidden-md-up text-center text-muted p-t-10 small">
                                    <strong>Filtered on: </strong>
                                    <span class="label label-inverse-info" ng-if="!selectedFilter.Region">All
                                        Region</span>
                                    <span ng-if="selectedFilter.Region">
                                        <span class="label label-inverse-info">{{filteredText("Region")}}</span>
                                        <span class="label label-inverse-info" ng-if="selectedFilter.Cluster">{{filteredText("Cluster")}}</span>
                                        <span class="label label-inverse-info" ng-if="selectedFilter.City">{{filteredText("City")}}</span>
                                    </span>
                                    <span class="label label-inverse-info">{{filteredText('Outlet')}}</span>
                                </div>

                            </div>
                            <div class="card-block">

                                <div class="row salesFilter row m-b-30" style="display: none;">
                                    <form class="form-floating-labels">
                                        <div class="row">
                                            <div class="col-xs-12" style="margin: 0 0 15px 15px;">

                                                <div class="d-inline">
                                                    Year:
                                                    <div class="d-inline" helper-elements="none"
                                                         on-item-click="onFilterChange('Year')" isteven-multi-select
                                                         input-model="yearArr" output-model="selectedYearObj"
                                                         button-label="text" item-label="text" tick-property="ticked"
                                                         selection-mode="single">
                                                    </div>
                                                </div>


                                                <div class="d-inline">
                                                    Month:
                                                    <div class="d-inline" helper-elements="none"
                                                         on-item-click="onFilterChange('Month')" isteven-multi-select
                                                         input-model="monthArr" output-model="selectedMonthObj"
                                                         button-label="text" item-label="text" tick-property="ticked"
                                                         selection-mode="single">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="md-input-wrapper">
                                                <select class="md-form-control" ng-change="onFilterChange('Region')"
                                                        ng-model="selectedFilter.Region"
                                                        ng-options="item.RegionName as item.RegionName for item in hierarchyMaster.Region">
                                                    <option value=""></option>
                                                </select>
                                                <label>Select Region</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="md-input-wrapper">
                                                <select class="md-form-control"
                                                        ng-change="onFilterChange('Cluster')"
                                                        ng-disabled="!selectedFilter.Region"
                                                        ng-model="selectedFilter.Cluster"
                                                        ng-options="item.ClusterName as item.ClusterName for item in hierarchyMaster.Cluster | filter:{RegionName:(selectedFilter.Region? selectedFilter.Region : '')}">
                                                    <option value=""></option>
                                                </select>
                                                <label>Select Cluster</label>
                                            </div>

                                        </div>
                                        &lt;!&ndash; <div class="col-md-2">
                                             <div class="md-input-wrapper">
                                                 <select class="md-form-control" ng-change="onFilterChange('City')"
                                                         ng-disabled="!selectedFilter.Region"
                                                         ng-model="selectedFilter.City"
                                                         ng-options="item.CityName as item.CityName for item in hierarchyMaster.City | filter:{RegionName:(selectedFilter.Region? selectedFilter.Region : '')}">
                                                     <option value=""></option>
                                                 </select>
                                                 <label>Select City</label>
                                             </div>
                                         </div>&ndash;&gt;
                                        <div class="col-md-3">

                                            <div class="md-input-wrapper">
                                                <select class="md-form-control" ng-change="onFilterChange('Outlet')"
                                                        ng-model="selectedFilter.Outlet"
                                                        ng-options="item.OutletCode as item.OutletName for item in filteredOutlets">
                                                    <option value=""></option>
                                                </select>
                                                <label>Select Outlet</label>
                                            </div>
                                        </div>
                                    </form>

                                </div>


                                <div class="row">
                                    <div class="col-lg-12 col-md-12">

                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-header-text">{{GsiReportHeading}}</h5>
                                                <div class="f-right">
                                                    <div class="dropdown">
                                                        Filter:
                                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                                id="dropdownMenuButton2" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                            <span ng-if="gsiReportTypeFilter == 'YTD'">YTD</span>
                                                            <span ng-if="gsiReportTypeFilter == 'MTD'">MTD</span>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-options"
                                                             aria-labelledby="dropdownMenuButton2">
                                                            <div class="btn-group-vertical">
                                                                <label class="btn btn-primary"
                                                                       ng-model="gsiReportTypeFilter"
                                                                       ng-change="filterGsiReportType('MTD')"
                                                                       uib-btn-radio="'MTD'">MTD</label>
                                                                <label class="btn btn-primary"
                                                                       ng-model="gsiReportTypeFilter"
                                                                       ng-change="filterGsiReportType('YTD')"
                                                                       uib-btn-radio="'YTD'">YTD</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="card-block">

                                                <div class="text-center" ng-if="!filteredGsiReports"><i
                                                        class="fa fa-circle-o-notch fa-spin fa-lg"></i> Loading...
                                                </div>
                                                <div class="col-sm-6 col-md-4 col-xs-12 col-lg-2 sm-12b5" ng-repeat="item in filteredGsiReports">
                                                    <div ng-class="$index==0?'gsi-overall':''">
                                                        <nvd3 options="item.options"
                                                              data="item.data"
                                                              class="with-3d-shadow with-transitions"></nvd3>
                                                    </div>
                                                </div>
                                                <p ng-if="!filteredGsiReports || filteredGsiReports.length<0">No summary
                                                    data</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-header-text">Monthly Comparison </h5>
                                                    <div class="d-inline" helper-elements="none"
                                                         on-item-click="filterMonthlyGSIReports(data)"
                                                         isteven-multi-select
                                                         input-model="monthlyGsiOptions" output-model="monthlyGsiFilter"
                                                         button-label="name" item-label="name" tick-property="ticked"
                                                         selection-mode="single">
                                                    </div>
                                            </div>
                                            <div class="card-block">

                                                <div class="text-center" ng-if="!filteredMonthlyGsiReports"><i
                                                        class="fa fa-circle-o-notch fa-spin fa-lg"></i> Loading...
                                                </div>

                                                <nvd3 class="hidden-sm-down" options="monthlyGsiGraphOptions" ng-if="filteredMonthlyGsiReports"
                                                      data="filteredMonthlyGsiReports"></nvd3>
                                                <nvd3 class="hidden-md-up" options="monthlyGsiXSGraphOptions" ng-if="filteredMonthlyGsiReports"
                                                      data="filteredMonthlyGsiReports"></nvd3>
                                                <p ng-if="!filteredMonthlyGsiReports || filteredMonthlyGsiReports.length<0">
                                                    No
                                                    data available</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        &lt;!&ndash; Radial variants end &ndash;&gt;
                    </div>

                </div>-->


                <!-- 2-1 block end -->
            </div>
            <!-- Main content ends -->
            <!-- Container-fluid ends -->
        </div>
    </div>
</div>
