<div class="horizontal-fixed fixed">
    <div class="wrapper">
        <div ng-include="'shared/header.html?v=6'"></div>
        <div ng-include="'shared/sidebar.html?v=6'"></div>
        <div ng-include="'shared/headerModal.html?v=6.1'"></div>
        <div class="content-wrapper">
            <!-- Container-fluid starts -->
            <!-- Main content starts -->
            <div class="container-fluid">
                <div class="text-center" style="padding: 40px;">
                    <h2>
                        Page is Under Constriction!
                    </h2>
                </div>
                <!--<h6 class="text-center">
                    <small>*All sales figures are in <em>Million(s) <i
                            class="fa fa-inr"></i></em> unless indicated otherwise
                    </small>
                </h6>


                <div class="row">


                    <div class="col-md-12 xs-no-padding">
                        &lt;!&ndash; Radial variants start &ndash;&gt;

                        <div class="card">
                            <div class="card-header">

                                <h5 class="card-header-text">Profit And Loss &nbsp;
                                </h5>
                                <label class="label bg-facebook label-md">
                                    {{ selectedMonth }} - {{ selectedYear }}</label>

                                <div class="f-right">
                                    <span class="hidden-md-down">
                                    <label class="label label-inverse-success" ng-if="!selectedFilter.Region">All
                                        Region</label>
                                    <span ng-if="selectedFilter.Region">
                                        <label class="label label-inverse-success">{{filteredText("Region")}}</label>
                                        <label class="label label-inverse-success" ng-if="selectedFilter.Cluster">{{filteredText("Cluster")}}</label>
                                        <label class="label label-inverse-success" ng-if="selectedFilter.City">{{filteredText("City")}}</label>
                                    </span>
                                    <label class="label label-inverse-success">{{ selectedOutlet.OutletName }}</label>
                                    </span>

                                    <a href="javascript:;" class="filter-button"><i class="icofont icofont-filter"></i>
                                        <span class="hidden-md-down">Filters</span></a>

                                </div>

                                <div class="hidden-md-up text-center text-muted p-t-10 small">
                                    <strong>Filtered on: </strong>
                                    <span class="label label-inverse-info" ng-if="!selectedFilter.Region">All
                                        Region</span>
                                    <span ng-if="selectedFilter.Region">
                                        <span class="label label-inverse-info">{{filteredText("Region")}}</span>
                                        <span class="label label-inverse-info" ng-if="selectedFilter.Cluster">{{filteredText("Cluster")}}</span>
                                        <span class="label label-inverse-info" ng-if="selectedFilter.City">{{filteredText("City")}}</span>
                                    </span>
                                    <span class="label label-inverse-info">{{ selectedOutlet.OutletName }}</span>
                                </div>

                            </div>
                            <div class="card-block">

                                <div class="row salesFilter row m-b-30" style="display: none;">
                                    <form class="form-floating-labels">
                                        <div class="col-md-3" style="padding: 15px 0 15px 15px;margin-left: 15px;">
                                            <div class="d-inline">
                                                Year:
                                                <div class="d-inline" helper-elements="none"
                                                     on-item-click="getPnlReport('Year')" isteven-multi-select
                                                     input-model="yearArr" output-model="selectedYearObj"
                                                     button-label="text" item-label="text" tick-property="ticked"
                                                     selection-mode="single">
                                                </div>
                                            </div>
                                            <div class="d-inline">
                                                Month:
                                                <div class="d-inline" helper-elements="none"
                                                     on-item-click="getPnlReport('Month')" isteven-multi-select
                                                     input-model="monthArr" output-model="selectedMonthObj"
                                                     button-label="text" item-label="text" tick-property="ticked"
                                                     selection-mode="single">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="md-input-wrapper">
                                                <select class="md-form-control" ng-change="onFilterChange('Region')"
                                                        ng-model="selectedFilter.Region"
                                                        ng-options="item.RegionName as item.RegionName for item in hierarchyMaster.Region">
                                                    <option value=""></option>
                                                </select>
                                                <label>Select Region</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="md-input-wrapper">
                                                <select class="md-form-control"
                                                        ng-change="onFilterChange('Cluster')"
                                                        ng-disabled="!selectedFilter.Region"
                                                        ng-model="selectedFilter.Cluster"
                                                        ng-options="item.ClusterName as item.ClusterName for item in hierarchyMaster.Cluster | filter:{RegionName:(selectedFilter.Region? selectedFilter.Region : '')}">
                                                    <option value=""></option>
                                                </select>
                                                <label>Select Cluster</label>
                                            </div>

                                        </div>
                                        <div class="col-md-2">
                                            <div class="md-input-wrapper">
                                                <select class="md-form-control" ng-change="onFilterChange('City')"
                                                        ng-disabled="!selectedFilter.Region"
                                                        ng-model="selectedFilter.City"
                                                        ng-options="item.CityName as item.CityName for item in hierarchyMaster.City | filter:{RegionName:(selectedFilter.Region? selectedFilter.Region : '')}">
                                                    <option value=""></option>
                                                </select>
                                                <label>Select City</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="md-input-wrapper">
                                                <select class="md-form-control" ng-change="onFilterChange('Outlets')"
                                                        ng-model="selectedOutlet"
                                                        ng-options="item as item.OutletName for item in filteredOutlets">
                                                </select>
                                                <label>Select Outlet</label>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-xs-12" ng-if="!noOutletSelected">
                                        <div class="card hidden-sm-down">
                                            <div class="card-header">
                                                <h5 class="card-header-text"></h5>{{ selectedOutlet.OutletName }}
                                            </div>
                                            <div class="card-block">
                                                <div class="text-center" ng-if="!pnlData && !noOutletSelected"><i
                                                        class="fa fa-circle-o-notch fa-spin fa-lg"></i> Loading...
                                                </div>
                                                <div class="table-responsive">
                                                    <div class="hidden-md-down " ng-if="pnlData">
                                                        <table class="table text-center table-bordered">
                                                            <thead class="table-inverse">
                                                            <tr>
                                                                <th style="color: #ff5589;text-align: left" colspan="">{{ selectedMonth }} - {{ selectedYear }}</th>
                                                                <th style="text-align: left" colspan="3">##</th>
                                                            </tr>
                                                            <tr>
                                                                <th style="text-align: left">
                                                                    <p><strong>Outlet</strong></p>
                                                                </th>
                                                                <th colspan="3">
                                                                    <p><strong>Month Data</strong></p>
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="item in pnlData.lastyearPNL"
                                                                ng-class="{'bg-facebook':$index==0, 'grey-row':item.Category=='Total' ||item.Category=='Sales' ||item.Category=='Gross Margin' ,'grey-text':item.Category=='Total F&B Cost' || item.Category=='Store EBITDA' ,'yellow-row':item.Category=='EBITDA'}">
                                                                <td style="text-align: left!important;">
                                                                    <p ng-if="$index!=0" ng-class="{'empty-row':item.Category==''}"><strong>{{item.Category|checkIsEmptyCat}}</strong></p>
                                                                    <p ng-if="$index==0"><strong>{{ selectedOutlet.OutletName }}</strong></p>
                                                                </td>
                                                                <td  ng-class="{'drak-blue-col':$index==0}">
                                                                    <p ng-if="$index!=0"><strong>{{item|checkIsEmptyData}}</strong></p>
                                                                    <p ng-if="$index==0"><strong>{{ item.Value }}</strong></p>
                                                                </td>
                                                                <td ng-class="{'drak-blue-col2':$index==0}">
                                                                    <p ng-if="$index!=0"><strong>{{pnlData.lastmonthPNL[$index]|checkIsEmptyData}}</strong></p>
                                                                    <p ng-if="$index==0"><strong>{{  pnlData.lastmonthPNL[$index].Value }}</strong></p>
                                                                </td>
                                                                <td ng-class="{'drak-blue-col3':$index==0}">
                                                                    <p ng-if="$index!=0"><strong>{{pnlData.monthPNL[$index]|checkIsEmptyData}}</strong></p>
                                                                    <p ng-if="$index==0"><strong>{{ pnlData.monthPNL[$index].Value }}</strong></p>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hidden-md-up">
                                            <div class="text-center" ng-if="!pnlData && !noOutletSelected"><i
                                                    class="fa fa-circle-o-notch fa-spin fa-lg"></i> Loading...
                                            </div>
                                            <table class="table text-center table-sm table-bordered" ng-if="pnlData">
                                                <thead class="table-inverse">
                                                <tr>
                                                    <th style="color: #ff5589;text-align: left" colspan="">{{ selectedMonth }} - {{ selectedYear }}</th>
                                                    <th style="text-align: left" colspan="3">##</th>
                                                </tr>
                                                <tr>
                                                    <th style="text-align: left">
                                                        <p><strong>Outlet</strong></p>
                                                    </th>
                                                    <th colspan="3">
                                                        <p><strong>Month Data</strong></p>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="item in pnlData.lastyearPNL"
                                                    ng-class="{'bg-facebook':$index==0, 'grey-row':item.Category=='Total' ||item.Category=='Sales' ||item.Category=='Gross Margin' ,'grey-text':item.Category=='Total F&B Cost' || item.Category=='Store EBITDA' ,'yellow-row':item.Category=='EBITDA'}">
                                                    <td style="text-align: left!important;">
                                                        <p ng-if="$index!=0" ng-class="{'empty-row2':item.Category==''}"><strong>{{item.Category|checkIsEmptyCat}}</strong></p>
                                                        <p ng-if="$index==0"><strong>{{ selectedOutlet.OutletName }}</strong></p>
                                                    </td>
                                                    <td  ng-class="{'drak-blue-col':$index==0}">
                                                        <p ng-if="$index!=0"><strong>{{item|checkIsEmptyData}}</strong></p>
                                                        <p ng-if="$index==0"><strong>{{ item.Value }}</strong></p>
                                                    </td>
                                                    <td ng-class="{'drak-blue-col2':$index==0}">
                                                        <p ng-if="$index!=0"><strong>{{pnlData.lastmonthPNL[$index]|checkIsEmptyData}}</strong></p>
                                                        <p ng-if="$index==0"><strong>{{ pnlData.lastmonthPNL[$index].Value }}</strong></p>
                                                    </td>
                                                    <td ng-class="{'drak-blue-col3':$index==0}">
                                                        <p ng-if="$index!=0"><strong>{{pnlData.monthPNL[$index]|checkIsEmptyData}}</strong></p>
                                                        <p ng-if="$index==0"><strong>{{ pnlData.monthPNL[$index].Value }}</strong></p>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="text-center note-text" ng-if="noOutletSelected">
                                        <h4>Please Select the outlet first!</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
