<div class="horizontal-fixed fixed">
    <div class="wrapper">
        <div ng-include="'shared/header.html?v=3'"></div>
        <div ng-include="'shared/sidebar.html?v=3'"></div>
        <div ng-include="'shared/headerModal.html?v=6.1'"></div>
        <div class="content-wrapper">
            <!-- Container-fluid starts -->
            <!-- Main content starts -->
            <div class="container-fluid">
                <div class="text-center" style="padding: 40px;">
                    <h2>
                        Page is Under Constriction!
                    </h2>
                </div>

                <!--<h6 class="text-center">
                    <small>*All sales figures are in <em>Million(s) <i
                            class="fa fa-inr"></i></em> unless indicated otherwise
                    </small>
                </h6>
                <div class="row">
                    <div class="col-md-12 xs-no-padding">
                        &lt;!&ndash; Radial variants start &ndash;&gt;
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">Pullers & Draggers &nbsp;
                                </h5>
                                <label class="label bg-facebook label-md">
                                    {{ formatDate(selectedFilter.curDate, 'dd MMM yyyy') }}</label>
                                <div class="f-right">
                                    <span class="hidden-md-down">
                                    <label class="label label-inverse-success" ng-if="!selectedFilter.Region">All
                                        Region</label>
                                    <span ng-if="selectedFilter.Region">
                                        <label class="label label-inverse-success">{{filteredText("Region")}}</label>
                                        <label class="label label-inverse-success" ng-if="selectedFilter.Cluster">{{filteredText("Cluster")}}</label>
                                        <label class="label label-inverse-success" ng-if="selectedFilter.City">{{filteredText("City")}}</label>
                                    </span>
                                    <label class="label label-inverse-success">{{filteredText('Outlet')}}</label>
                                    <label class="label label-inverse-success">Selection-{{selection.type}}</label>
                                        </span>

                                    <a href="javascript:;" class="filter-button p-r-15"><i
                                            class="icofont icofont-filter"></i>
                                        <span class="hidden-md-down">Filters</span></a>
                                </div>
                                <div class="hidden-md-up text-center text-muted p-t-10 small">
                                    <strong>Filtered on: </strong>
                                    <span class="label label-inverse-info" ng-if="!selectedFilter.Region">All
                                        Region</span>
                                    <span ng-if="selectedFilter.Region">
                                        <span class="label label-inverse-info">{{filteredText("Region")}}</span>
                                        <span class="label label-inverse-info" ng-if="selectedFilter.Cluster">{{filteredText("Cluster")}}</span>
                                        <span class="label label-inverse-info" ng-if="selectedFilter.City">{{filteredText("City")}}</span>
                                    </span>
                                    <span class="label label-inverse-info">{{filteredText('Outlet')}}</span>
                                    <span class="label label-inverse-info">Selection-{{selection.type}}</span>
                                </div>
                            </div>
                            <div class="card-block xs-no-padding">
                                <div class="row salesFilter row m-b-30" style="display: none;">
                                    <form class="form-floating-labels">
                                        <div class="col-md-2">
                                            <div class="md-group-add-on">
                                                <span class="md-add-on"><i
                                                        class="icofont icofont-ui-calendar"></i></span>
                                                <div class="md-input-wrapper">
                                                    <input type="text" id="dsrdate2" class="md-form-control md-static"
                                                           placeholder="Till Date"
                                                           ng-change="getPullerDraggerReport()"
                                                           ng-model="selectedDSRFilter.curDate">
                                                    <label>Till Date</label>
                                                    <span class="md-line"></span></div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="md-input-wrapper">
                                                <select class="md-form-control"
                                                        ng-change="getPullerDraggerReport('Region')"
                                                        ng-model="selectedFilter.Region"
                                                        ng-options="item.RegionName as item.RegionName for item in hierarchyMaster.Region">
                                                    <option value=""></option>
                                                </select>
                                                <label>Select Region</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="md-input-wrapper">
                                                <select class="md-form-control"
                                                        ng-change="getPullerDraggerReport('Cluster')"
                                                        ng-disabled="!selectedFilter.Region"
                                                        ng-model="selectedFilter.Cluster"
                                                        ng-options="item.ClusterName as item.ClusterName for item in hierarchyMaster.Cluster | filter:{RegionName:(selectedFilter.Region? selectedFilter.Region : '')}">
                                                    <option value=""></option>
                                                </select>
                                                <label>Select Cluster</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="md-input-wrapper">
                                                <select class="md-form-control"
                                                        ng-change="getPullerDraggerReport('City')"
                                                        ng-disabled="!selectedFilter.Region"
                                                        ng-model="selectedFilter.City"
                                                        ng-options="item.CityName as item.CityName for item in hierarchyMaster.City | filter:{RegionName:(selectedFilter.Region? selectedFilter.Region : '')}">
                                                    <option value=""></option>
                                                </select>
                                                <label>Select City</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="md-input-wrapper">
                                                <select class="md-form-control"
                                                        ng-change="getPullerDraggerReport('Outlet')"
                                                        ng-model="selectedFilter.Outlet"
                                                        ng-options="item.OutletCode as item.OutletName for item in filteredOutlets">
                                                    <option value=""></option>
                                                </select>
                                                <label>Select Outlet</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label style="margin-left: 5px;color: #40c4ff;font-size: 13px;">Selection
                                                Type</label><br>
                                            <div class="radio" style="display:inline;">
                                                <input id="radio-1" name="SelectionType"
                                                       ng-model="selection.type3"
                                                       ng-change="getPullerDraggerReport()" value="DATE"
                                                       type="radio">
                                                <label for="radio-1" class="radio-label">Date</label>
                                            </div>
                                            <div class="radio" style="display:inline;">
                                                <input id="radio-2" ng-model="selection.type3"
                                                       name="SelectionType" ng-disabled="ifItsLastDate"
                                                       ng-change="getPullerDraggerReport()" value="DAY"
                                                       type="radio">
                                                <label for="radio-2" class="radio-label">Day</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-xs-12">
                                        <div class="f-right p-b-10 m-r-5">
                                            <div class="dropdown d-inline">
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="dropdownMenuButton4" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <span ng-if="pullCriteriaFilter == 'SALE'">SALE</span>
                                                    <span ng-if="pullCriteriaFilter == 'SSSG'">SSSG</span>
                                                    <span ng-if="pullCriteriaFilter == 'SSCG'">SSCG</span>
                                                    <span ng-if="pullCriteriaFilter == 'GSI'">GSI</span>
                                                    <span ng-if="pullCriteriaFilter == 'COST'">COST</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-options"
                                                     aria-labelledby="dropdownMenuButton4">
                                                    <div class="btn-group-vertical">
                                                        <label class="btn btn-primary"
                                                               ng-model="pullCriteriaFilter"
                                                               ng-change="getPullerDraggerReport()"
                                                               uib-btn-radio="'SALE'">SALE</label>
                                                        <label class="btn btn-primary"
                                                               ng-model="pullCriteriaFilter"
                                                               ng-change="getPullerDraggerReport()"
                                                               uib-btn-radio="'SSSG'">SSSG</label>
                                                        <label class="btn btn-primary"
                                                               ng-model="pullCriteriaFilter"
                                                               ng-change="getPullerDraggerReport()"
                                                               uib-btn-radio="'SSCG'">SSCG</label>
                                                        <label class="btn btn-primary"
                                                               ng-model="pullCriteriaFilter"
                                                               ng-change="getPullerDraggerReport()"
                                                               uib-btn-radio="'GSI'">GSI</label>
                                                        <label class="btn btn-primary"
                                                               ng-model="pullCriteriaFilter"
                                                               ng-change="getPullerDraggerReport()"
                                                               uib-btn-radio="'COST'">COST</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown d-inline">
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="dropdownMenuButton2" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <span ng-if="pullerDraggerTypeFilter == 'M'">MTD</span>
                                                    <span ng-if="pullerDraggerTypeFilter == 'Y'">YTD</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-options"
                                                     aria-labelledby="dropdownMenuButton2">
                                                    <div class="btn-group-vertical">
                                                        <label class="btn btn-primary"
                                                               ng-model="pullerDraggerTypeFilter"
                                                               ng-change="getPullerDraggerReport()"
                                                               uib-btn-radio="'M'">MTD</label>
                                                        <label class="btn btn-primary"
                                                               ng-model="pullerDraggerTypeFilter"
                                                               ng-change="getPullerDraggerReport()"
                                                               uib-btn-radio="'Y'">YTD</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown d-inline">
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="dropdownMenuButton3" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <span ng-if="maxStoreCountFilter == 3">3</span>
                                                    <span ng-if="maxStoreCountFilter == 5">5</span>
                                                    <span ng-if="maxStoreCountFilter == 7">7</span>
                                                    <span ng-if="maxStoreCountFilter == 10">10</span>
                                                    <span ng-if="maxStoreCountFilter == 15">15</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-options"
                                                     aria-labelledby="dropdownMenuButton3">
                                                    <div class="btn-group-vertical">
                                                        <label class="btn btn-primary"
                                                               ng-model="maxStoreCountFilter"
                                                               ng-change="getPullerDraggerReport()"
                                                               uib-btn-radio="3">3</label>
                                                        <label class="btn btn-primary"
                                                               ng-model="maxStoreCountFilter"
                                                               ng-change="getPullerDraggerReport()"
                                                               uib-btn-radio="5">5</label>
                                                        <label class="btn btn-primary"
                                                               ng-model="maxStoreCountFilter"
                                                               ng-change="getPullerDraggerReport()"
                                                               uib-btn-radio="7">7</label>
                                                        <label class="btn btn-primary"
                                                               ng-model="maxStoreCountFilter"
                                                               ng-change="getPullerDraggerReport()"
                                                               uib-btn-radio="10">10</label>
                                                        <label class="btn btn-primary"
                                                               ng-model="maxStoreCountFilter"
                                                               ng-change="getPullerDraggerReport()"
                                                               uib-btn-radio="15">15</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-xs-12">
                                        <div class="text-center" style="padding: 10px 0 15px 0"
                                             ng-if="!pullersDraggersData"><i
                                                class="fa fa-circle-o-notch fa-spin fa-lg"></i> Loading...
                                        </div>
                                        <div class="row" ng-if="pullersDraggersData">
                                            <div class="col-lg-6 col-md-12">
                                                <div style="color: #10ca10;padding: 15px 0 10px 5px;">
                                                    <h5 class="card-header-text"><img
                                                            src="assets/images/up-arrow.svg"
                                                            height="20px" width="20px">
                                                        Pullers - {{pullCriteriaFilter}}</h5>
                                                </div>
                                                <div class="table-responsive">
                                                    <div class="hidden-sm-down " ng-if="pullersData">
                                                        <table class="table text-center">
                                                            <thead class="table-inverse">
                                                            <tr >
                                                                <th>Sr.no</th>
                                                                <th>#Store</th>
                                                                <th ng-class="pullCriteriaFilter=='SSCG'?'col-darkGreen':''">SSCG</th>
                                                                <th ng-class="pullCriteriaFilter=='SSSG'?'col-darkGreen':''">SSSG</th>
                                                                <th ng-class="pullCriteriaFilter=='SALE'?'col-darkGreen':''">Sale</th>
                                                                <th ng-class="pullCriteriaFilter=='GSI'?'col-darkGreen':''">GSI</th>
                                                                <th ng-class="pullCriteriaFilter=='COST'?'col-darkGreen':''">Cost</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-class="{'back-green':$index%2==0,'back-blue':$index%2!==0}"
                                                                ng-repeat="item in pullersData">
                                                                <td><strong>{{$index+1}}</strong></td>
                                                                <td style="text-align: left!important;">
                                                                    <strong>{{item.Name}}</strong></td>
                                                                <td ng-class="item.filterSelected=='SSCG'?'col-darkGreen':''">{{item.SSCG}}</td>
                                                                <td ng-class="item.filterSelected=='SSSG'?'col-darkGreen':''">{{item.SSSG}}</td>
                                                                <td ng-class="item.filterSelected=='SALE'?'col-darkGreen':''">{{item.Sale}}</td>
                                                                <td ng-class="item.filterSelected=='GSI'?'col-darkGreen':''">{{item.GSI}}</td>
                                                                <td ng-class="item.filterSelected=='COST'?'col-darkGreen':''">{{item.Cost}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="hidden-sm-up" ng-if="pullersData">
                                                        <table class="table text-center table-sm">
                                                            <thead class="table-inverse">
                                                            <tr>
                                                                <th>Sr.no</th>
                                                                <th>#Store</th>
                                                                <th ng-class="pullCriteriaFilter=='SSCG'?'col-darkGreen':''">SSCG</th>
                                                                <th ng-class="pullCriteriaFilter=='SSSG'?'col-darkGreen':''">SSSG</th>
                                                                <th ng-class="pullCriteriaFilter=='SALE'?'col-darkGreen':''">Sale</th>
                                                                <th ng-class="pullCriteriaFilter=='GSI'?'col-darkGreen':''">GSI</th>
                                                                <th ng-class="pullCriteriaFilter=='COST'?'col-darkGreen':''">Cost</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-class="{'back-green':$index%2==0,'back-blue':$index%2!==0}"
                                                                ng-repeat="item in pullersData">
                                                                <td><strong>{{$index+1}}</strong></td>
                                                                <td style="text-align: left!important;">
                                                                    <strong>{{item.Name}}</strong></td>
                                                                <td ng-class="item.filterSelected=='SSCG'?'col-darkGreen':''">{{item.SSCG}}</td>
                                                                <td ng-class="item.filterSelected=='SSSG'?'col-darkGreen':''">{{item.SSSG}}</td>
                                                                <td ng-class="item.filterSelected=='SALE'?'col-darkGreen':''">{{item.Sale}}</td>
                                                                <td ng-class="item.filterSelected=='GSI'?'col-darkGreen':''">{{item.GSI}}</td>
                                                                <td ng-class="item.filterSelected=='COST'?'col-darkGreen':''">{{item.Cost}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12">
                                                <div style="color: #da3b41;padding: 15px 0 10px 5px;">
                                                    <h5 class="card-header-text"><img
                                                            src="assets/images/down-arrow.svg"
                                                            height="20px" width="20px">
                                                        Draggers - {{pullCriteriaFilter}}</h5>
                                                </div>
                                                <div class="table-responsive" ng-if="draggersData">
                                                    <div class="hidden-sm-down ">
                                                        <table class="table text-center">
                                                            <thead class="table-inverse">
                                                            <tr >
                                                                <th>Sr.no</th>
                                                                <th>#Store</th>
                                                                <th ng-class="pullCriteriaFilter=='SSCG'?'col-darkRed':''">SSCG</th>
                                                                <th ng-class="pullCriteriaFilter=='SSSG'?'col-darkRed':''">SSSG</th>
                                                                <th ng-class="pullCriteriaFilter=='SALE'?'col-darkRed':''">Sale</th>
                                                                <th ng-class="pullCriteriaFilter=='GSI'?'col-darkRed':''">GSI</th>
                                                                <th ng-class="pullCriteriaFilter=='COST'?'col-darkRed':''">Cost</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-class="{'back-red':$index%2==0,'back-dim-red':$index%2!==0}"
                                                                ng-repeat="item in draggersData">
                                                                <td><strong>{{$index+1}}</strong></td>
                                                                <td style="text-align: left!important;">
                                                                    <strong>{{item.Name}}</strong></td>
                                                                <td ng-class="item.filterSelected=='SSCG'?'col-darkRed':''">{{item.SSCG}}</td>
                                                                <td ng-class="item.filterSelected=='SSSG'?'col-darkRed':''">{{item.SSSG}}</td>
                                                                <td ng-class="item.filterSelected=='SALE'?'col-darkRed':''">{{item.Sale}}</td>
                                                                <td ng-class="item.filterSelected=='GSI'?'col-darkRed':''">{{item.GSI}}</td>
                                                                <td ng-class="item.filterSelected=='COST'?'col-darkRed':''">{{item.Cost}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="hidden-sm-up ">
                                                        <table class="table text-center table-sm">
                                                            <thead class="table-inverse">
                                                            <tr >
                                                                <th>Sr.no</th>
                                                                <th>#Store</th>
                                                                <th ng-class="pullCriteriaFilter=='SSCG'?'col-darkRed':''">SSCG</th>
                                                                <th ng-class="pullCriteriaFilter=='SSSG'?'col-darkRed':''">SSSG</th>
                                                                <th ng-class="pullCriteriaFilter=='SALE'?'col-darkRed':''">Sale</th>
                                                                <th ng-class="pullCriteriaFilter=='GSI'?'col-darkRed':''">GSI</th>
                                                                <th ng-class="pullCriteriaFilter=='COST'?'col-darkRed':''">Cost</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-class="{'back-red':$index%2==0,'back-dim-red':$index%2!==0}"
                                                                ng-repeat="item in draggersData">
                                                                <td><strong>{{$index+1}}</strong></td>
                                                                <td style="text-align: left!important;">
                                                                    <strong>{{item.Name}}</strong></td>
                                                                <td ng-class="item.filterSelected=='SSCG'?'col-darkRed':''">{{item.SSCG}}</td>
                                                                <td ng-class="item.filterSelected=='SSSG'?'col-darkRed':''">{{item.SSSG}}</td>
                                                                <td ng-class="item.filterSelected=='SALE'?'col-darkRed':''">{{item.Sale}}</td>
                                                                <td ng-class="item.filterSelected=='GSI'?'col-darkRed':''">{{item.GSI}}</td>
                                                                <td ng-class="item.filterSelected=='COST'?'col-darkRed':''">{{item.Cost}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
</div>
