<div class="horizontal-fixed fixed">
    <div class="wrapper">
        <div ng-include="'shared/header.html?v=6'"></div>
        <div ng-include="'shared/sidebar.html?v=6'"></div>
        <div ng-include="'shared/headerModal.html?v=6.1'"></div>
        <div class="content-wrapper">
            <!-- Container-fluid starts -->
            <!-- Main content starts -->
            <div class="container-fluid">
                <div class="text-center" style="padding: 40px;">
                    <h2>
                        Page is Under Constriction!
                    </h2>
                </div>

              <!--  <h6 class="text-center">
                    <small>*All sales figures are in <em>Million(s) <i
                            class="fa fa-inr"></i></em> unless indicated otherwise
                    </small>
                </h6>


                <div class="row">


                    <div class="col-md-12 xs-no-padding">
                        &lt;!&ndash; Radial variants start &ndash;&gt;

                        <div class="card">
                            <div class="card-header">

                                <h5 class="card-header-text">Overall Reports &nbsp;
                                </h5>
                                <label class="label bg-facebook label-md">
                                    {{ formatDate(selectedFilter.fromDate,'dd MMM yyyy' ) }} - {{
                                    formatDate(selectedFilter.curDate, 'dd MMM yyyy') }}</label>


                                <div class="f-right">
                                    <span class="hidden-md-down">
                                    <label class="label label-inverse-success" ng-if="!selectedFilter.Region">All
                                        Region</label>
                                    <span ng-if="selectedFilter.Region">
                                        <label class="label label-inverse-success">{{filteredText("Region")}}</label>
                                        <label class="label label-inverse-success" ng-if="selectedFilter.Cluster">{{filteredText("Cluster")}}</label>
                                        <label class="label label-inverse-success" ng-if="selectedFilter.City">{{filteredText("City")}}</label>
                                    </span>
                                    <label class="label label-inverse-success">{{filteredText('Outlet')}}</label>
                                    <label class="label label-inverse-success">{{filteredText('Session')}}</label>
                                        </span>

                                    <a href="javascript:;" class="filter-button"><i class="icofont icofont-filter"></i>
                                        <span class="hidden-md-down">Filters</span></a>

                                </div>

                                <div class="hidden-md-up text-center text-muted p-t-10 small">
                                    <strong>Filtered on: </strong>
                                    <span class="label label-inverse-info" ng-if="!selectedFilter.Region">All
                                        Region</span>
                                    <span ng-if="selectedFilter.Region">
                                        <span class="label label-inverse-info">{{filteredText("Region")}}</span>
                                        <span class="label label-inverse-info" ng-if="selectedFilter.Cluster">{{filteredText("Cluster")}}</span>
                                        <span class="label label-inverse-info" ng-if="selectedFilter.City">{{filteredText("City")}}</span>
                                    </span>
                                    <span class="label label-inverse-info">{{filteredText('Outlet')}}</span>
                                    <span class="label label-inverse-info">{{filteredText('Session')}}</span>
                                </div>

                            </div>
                            <div class="card-block">

                                <div class="row salesFilter row m-b-30" style="display: none;">
                                    <form class="form-floating-labels">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-md-3 col-xs-12">
                                                    <div class="md-group-add-on">
                                                <span class="md-add-on"><i
                                                        class="icofont icofont-ui-calendar"></i></span>
                                                        <div class="md-input-wrapper">
                                                            <input type="text" id="date"
                                                                   class="md-form-control md-static"
                                                                   placeholder="Select a Date"
                                                                   ng-change="onFilterChange('fromDate')"
                                                                   ng-model="selectedFilter.fromDate">
                                                            <label>From Date</label>
                                                            <span class="md-line"></span></div>
                                                    </div>

                                                </div>
                                                <div class="col-md-3 col-xs-12">
                                                    <div class="md-group-add-on">
                                                <span class="md-add-on"><i
                                                        class="icofont icofont-ui-calendar"></i></span>
                                                        <div class="md-input-wrapper">
                                                            <input type="text" id="date2"
                                                                   class="md-form-control md-static"
                                                                   placeholder="Select a Date"
                                                                   ng-change="onFilterChange('tillDate')"
                                                                   ng-model="selectedFilter.curDate">
                                                            <label>To Date</label>
                                                            <span class="md-line"></span></div>
                                                    </div>

                                                </div>

                                                <div class="col-md-3 col-xs-12">
                                                    <label style="margin-left: 5px;color: #40c4ff;font-size: 13px;">Selection
                                                        Type</label><br>
                                                    <div class="radio" style="display:inline;">
                                                        <input id="radio-1" name="SelectionType"
                                                               ng-model="selection.type2"
                                                               ng-change="onFilterChange('Date')" value="DATE"
                                                               type="radio">
                                                        <label for="radio-1" class="radio-label">Date</label>
                                                    </div>
                                                    <div class="radio" style="display:inline;">
                                                        <input id="radio-2" ng-model="selection.type2"
                                                               name="SelectionType"
                                                               ng-change="onFilterChange('Day')" value="DAY"
                                                               type="radio">
                                                        <label for="radio-2" class="radio-label">Day</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">

                                            <div class="md-input-wrapper">
                                                <select class="md-form-control" ng-change="onFilterChange('Region')"
                                                        ng-model="selectedFilter.Region"
                                                        ng-options="item.RegionName as item.RegionName for item in hierarchyMaster.Region">
                                                    <option value=""></option>
                                                </select>
                                                <label>Select Region</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="md-input-wrapper">
                                                <select class="md-form-control"
                                                        ng-change="onFilterChange('Cluster')"
                                                        ng-disabled="!selectedFilter.Region"
                                                        ng-model="selectedFilter.Cluster"
                                                        ng-options="item.ClusterName as item.ClusterName for item in hierarchyMaster.Cluster | filter:{RegionName:(selectedFilter.Region? selectedFilter.Region : '')}">
                                                    <option value=""></option>
                                                </select>
                                                <label>Select Cluster</label>
                                            </div>

                                        </div>
                                        <div class="col-md-2">
                                            <div class="md-input-wrapper">
                                                <select class="md-form-control" ng-change="onFilterChange('City')"
                                                        ng-disabled="!selectedFilter.Region"
                                                        ng-model="selectedFilter.City"
                                                        ng-options="item.CityName as item.CityName for item in hierarchyMaster.City | filter:{RegionName:(selectedFilter.Region? selectedFilter.Region : '')}">
                                                    <option value=""></option>
                                                </select>
                                                <label>Select City</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">

                                            <div class="md-input-wrapper">
                                                <select class="md-form-control" ng-change="onFilterChange('Outlet')"
                                                        ng-model="selectedFilter.Outlet"
                                                        ng-options="item.OutletCode as item.OutletName for item in filteredOutlets">
                                                    <option value=""></option>
                                                </select>
                                                <label>Select Outlet</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">

                                            <div class="md-input-wrapper">
                                                <select class="md-form-control" ng-change="onFilterChange('Session')"
                                                        ng-options="item.value as item.label for item in sessionOptions"
                                                        ng-model="selectedFilter.Session">
                                                    <option value=""></option>
                                                </select>
                                                <label>Select Session</label>
                                            </div>
                                        </div>
                                    </form>

                                </div>


                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-header-text">Business Reports</h5>
                                                <div class="f-right d-inline">
                                                    <button ng-class="itsReportGridView==true?'btn grid-btn grid-btn-active':'btn grid-btn '"
                                                            ng-click="setReportGridView()">
                                                        <i class="fa fa-th fa-2x"></i>
                                                    </button>
                                                </div>
                                                <div class="f-right d-inline hidden-md-up" ng-hide="itsReportGridView">
                                                    <div class="dropdown">
                                                        Filter:
                                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                                id="dropdownMenuButton2" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                            <span ng-if="businessTypeFilter == 'Sale'">Sales</span>
                                                            <span ng-if="businessTypeFilter == 'TotalCover'">Covers</span>
                                                            <span ng-if="businessTypeFilter == 'APC'">APC</span>
                                                            <span ng-if="businessTypeFilter == 'Turn'">Turn</span>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-options"
                                                             aria-labelledby="dropdownMenuButton2">
                                                            <div class="btn-group-vertical">
                                                                <label class="btn btn-primary"
                                                                       ng-model="businessTypeFilter"
                                                                       ng-change="filterBusinessType()"
                                                                       uib-btn-radio="'Sale'">Sales</label>
                                                                <label class="btn btn-primary"
                                                                       ng-model="businessTypeFilter"
                                                                       ng-change="filterBusinessType()"
                                                                       uib-btn-radio="'TotalCover'">Covers</label>
                                                                <label class="btn btn-primary"
                                                                       ng-model="businessTypeFilter"
                                                                       ng-change="filterBusinessType()"
                                                                       uib-btn-radio="'APC'">APC</label>
                                                                <label class="btn btn-primary"
                                                                       ng-model="businessTypeFilter"
                                                                       ng-change="filterBusinessType()"
                                                                       uib-btn-radio="'Turn'">Turn</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-block" ng-hide="itsReportGridView">
                                                <div class="col-xs-12 text-center hidden-sm-down">
                                                    <div class="btn-group">
                                                        <label class="btn btn-primary" ng-model="businessTypeFilter"
                                                               ng-change="filterBusinessType()"
                                                               uib-btn-radio="'Sale'">Sales</label>
                                                        <label class="btn btn-primary" ng-model="businessTypeFilter"
                                                               ng-change="filterBusinessType()"
                                                               uib-btn-radio="'TotalCover'">Covers</label>
                                                        <label class="btn btn-primary" ng-model="businessTypeFilter"
                                                               ng-change="filterBusinessType()"
                                                               uib-btn-radio="'APC'">APC</label>
                                                        <label class="btn btn-primary" ng-model="businessTypeFilter"
                                                               ng-change="filterBusinessType()"
                                                               uib-btn-radio="'Turn'">Turn</label>
                                                    </div>
                                                </div>
                                                <div class="text-center" ng-if="!filteredbusinessReports"><i
                                                        class="fa fa-circle-o-notch fa-spin fa-lg"></i> Loading...
                                                </div>
                                                <nvd3 options="discretebaroptions" data="filteredbusinessReports"
                                                      class="with-3d-shadow with-transitions hidden-sm-down"></nvd3>
                                                <nvd3  options="discreteXSbaroptions" data="filteredbusinessReports"
                                                      class="with-3d-shadow with-transitions hidden-md-up"></nvd3>
                                                <p ng-if="!filteredbusinessReports || filteredbusinessReports.length<0">
                                                    No summary data</p>
                                            </div>
                                            <div class="card-block" ng-if="itsReportGridView">
                                                <div class="text-center" ng-if="!businessReportsDataObj"><i
                                                        class="fa fa-circle-o-notch fa-spin fa-lg"></i> Loading...
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table text-center" ng-if="businessReportsDataObj">
                                                        <thead class="table-inverse">
                                                        <tr>
                                                            <th>Year</th>
                                                            <th>Outlets</th>
                                                            <th>#BevAPC</th>
                                                            <th>#FoodAPC</th>
                                                            <th>#DinnerTurn</th>
                                                            <th>#LunchTurn</th>
                                                            <th>#Sales</th>
                                                            <th>#TotalCover</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-class="{'table-warning':$index%2==0,'table-info':$index%2!==0}"
                                                            ng-repeat="item in businessReportsDataObj | filter:{ RType: 'Actual' }">
                                                            <td><strong>{{item.Years}}</strong></td>
                                                            <td>{{item.Outlets}}</td>
                                                            <td>{{item.BevAPC}}</td>
                                                            <td>{{item.FoodAPC}}</td>
                                                            <td>{{item.DinnerTurn}}</td>
                                                            <td>{{item.LunchTurn}}</td>
                                                            <td>{{item.Sale}}</td>
                                                            <td>{{item.TotalCover}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        &lt;!&ndash; Radial variants end &ndash;&gt;
                    </div>

                </div>-->


                <!-- 2-1 block end -->
            </div>
            <!-- Main content ends -->
            <!-- Container-fluid ends -->
        </div>
    </div>
</div>
